// ––––––––––––––––––––––––––––––––––––––––––––––––––––– COLORS

// white

$white: #fff;

// black

$black: 000;

// navy

$navy-950: #0e1323;
$navy-900: #1c204b;
$navy-800: #33397a;
$navy-200: #bbc0ff;

// orange

$orange-300: #ff8b64;

// purple

$purple-700: #7335d2;
$purple-600: #5747ea;
$purple-500: #7078c9;

// blue

$blue-300: #55c2e6;

// pink

$pink-400: #ff5e7d;

// green

$green-400: #4bcf82;

// yellow

$yellow-300: #f1c75b;

// grey

$grey-200: #d8d8d8;

// –––––––––––––––––––––––––––––––––––––––––––––––––––––– SPACING

$spacing-0: 0;
$spacing-100: 8px;
$spacing-200: 16px;
$spacing-300: 24px;
$spacing-400: 32px;
$spacing-500: 40px;