@use '../index' as i;

.work .card__background {
	background-color: i.$orange-300;
}

.play .card__background {
	background-color: i.$blue-300;
}

.study .card__background {
	background-color: i.$pink-400;
}

.exercise .card__background {
	background-color: i.$green-400;
}

.social .card__background {
	background-color: i.$purple-700;
}

.self-care .card__background {
	background-color: i.$yellow-300;
}

.card {
	width: 255px;
	max-height: 244px;
	height: 244px;
	@include i.radius;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	position: relative;
	overflow: hidden;
	border: none;
}

.card__background {
	overflow: hidden;
	position: relative;
	z-index: 0;
	min-height: 40px;
	height: 60px;
	width: 100%;
}

.background-image {
	position: absolute;
	z-index: 1;
	right: 14px;
	top: -5px;
}

.content {
	position: absolute;
	top: 45px;
	bottom: 0;
	z-index: 2;
	width: 100%;
	min-height: 199px;
	background-color: i.$navy-900;
	@include i.radius;
	display: flex;
	flex-direction: column;
	gap: i.$spacing-300;

	&:hover {
		background-color: i.$navy-800;
	}

	&__btn {
		border: none;
		background-color: transparent;

		.ellipsis {
			color: i.$navy-200;

			&:hover {
				color: white;
			}
		}
	}

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 31px 32.5px 0 32.5px;
	}

	&__title {
		color: i.$white;
		@include i.text-preset-5m;
	}

	&__current {
		color: i.$white;
		@include i.text-preset-1;
	}

	&__previous {
		color: i.$navy-200;
		@include i.text-preset-6;
	}

	&__data {
		margin: 0 32.5px 31px 32.5px;
	}
}